
#footer-element {
    background: #4A4A4A;
    height: 65px;
    #footer-container {
        color: #FFFFFF;
        text-align: center;
        padding: 15px 0;
        display: block;
        height: 35px;
        line-height: 35px;
        font-size: 17px;
        a {
        }

    }

}
