
#footer-element {
    background: #4A4A4A;
    height: 65px;
    #footer-container {
        color: #FFFFFF;
        text-align: center;
        margin: 15px auto;
        display: block;
        #footer-copy-link {
            display: inline;
            font-family: 'OpenSans';
            font-size: 17px;
            color: #FFFFFF;
            letter-spacing: 0;
        }

    }

}
