
header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    > div {
        > div {
            &#logo-block {
                img {}
            }
            &#menu-block {
                ul {

                    li {
                        list-style: none;
                        display: inline-block;
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            opacity: 0.5;
                            font-family: "Montserrat-Regular";
                            font-size: 13px;
                            color: #000000;
                            letter-spacing: 0.2px;
                            text-align: left;
                        }

                    }
                }
            }
        }
    }
}
