$body_font: 'Montserrat';
$menu_font: 'Montserrat';
$title_font: 'Montserrat';

$blanco: #FFFFFF;
$azul: #1d579d;
$gris: #67666a;
$gris-claro: #edeef0;
$amarillo: #ebc951;
$verde: #73c980;
$rojo: #ff695b;
$negro: #000000;
$rosa: #f3bbe0;
