/* You can add global styles to this file, and also import other style files */

/*------------------------------------*\
    MAIN
\*------------------------------------*/

@import "assets/scss/variables";
@import "assets/scss/decimals";
@import "assets/scss/functions";
@import "assets/scss/fonts";
@import "assets/scss/reset";
@import "assets/scss/normalize";

:root {
    --vh-offset: 0px;
}

html, body {
    font-family: "Muli";
    font-size: 14px;
    overflow-x: hidden;

}

.container {
    max-width: 1144px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 9;
}

.text-title {

    font-size: 50px;
    font-family: 'Poppins-Light';
    strong {
        font-family: 'Poppins-Black';
    }
}

.text-subtitle {
    font-size: 17px;
}

.button {
    @include border-radius(10px);
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;

    font-family: Helvetica;
    font-size: 17px;
    color: #3A3A3A;
    text-decoration: none;

    &.button-white {
        background-color: #FFFFFF;
        color: #3A3A3A;
    }
    &.button-yellow {
        background-color: #F2C478;
        color: #FFFFFF;
    }
}


.columns {
    vertical-align: top;
    box-sizing: border-box;
    &.columns-two {
        width: 50%;
        display: inline-block;
    }

    &.columns-left {
        padding-right: 10px;
    }
    &.columns-right {
        padding-left: 10px;
    }
}

form {
    fieldset {
        border: 0px solid;
        margin: 10px 0;
        padding: 0px;
        box-sizing: border-box;
        display: inline-block;

        &.dos-columnas {
            width: 50%;
            &:nth-of-type(2n+1) { 
                padding-right: 10px;
            }
            &:nth-of-type(2n+2) { 
                padding-left: 10px;
            }
        }
        &.una-columna {
            width: 100%;
        }



        input,textarea {
            width: 100%;
            border: 0px;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px 10px;
            height: 42px;
            line-height: 42px;
            font-size: 17px;
            color: #3D3D3D;
            letter-spacing: 0;
        }

        textarea {
            height: 170px;
            resize: none;
        }
    }
}

footer {
    a {
        color: #FFFFFF;
    }
}