/* You can add global styles to this file, and also import other style files */

/*------------------------------------*\
    MAIN
\*------------------------------------*/

@import "assets/scss/variables";
@import "assets/scss/decimals";
@import "assets/scss/functions";
@import "assets/scss/fonts";
@import "assets/scss/reset";
@import "assets/scss/normalize";

:root {
    --vh-offset: 0px;
}

html, body {
    font-family: "Muli";
    font-size: 14px;
    overflow-x: hidden;

}

.container {
    max-width: 1144px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 9;
}

.text-title {
    font-family: 'Poppins-Light';
    strong {
        font-family: 'Poppins-Black';
    }
}

.button {
    @include border-radius(10px);
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;

    font-family: Helvetica;
    font-size: 17px;
    color: #3A3A3A;
    text-decoration: none;

    &.button-white {
        background-color: #FFFFFF;
    }
    &.button-yellow {
        background-color: #F2C478;
        color: #FFFFFF;
    }
}


.columns {
    vertical-align: top;

    &.columns-two {
        width: 50%;
        display: inline-block;
    }

    &.columns-left {

    }
    &.columns-right {

    }
}
