@import './../../../../assets/scss/decimals',
        './../../../../assets/scss/functions';


section {

    &.fullscreen-section {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    &.fullwidth-section {
        width: 100vw;
        height: auto;
        position: relative;
    }

    .background-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: none no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

#home-bloque-1 {

    .text-float {
        position: absolute;
        width: 572px;
        top: 50%;
        left: 50%;
        @include translate(-100%, -50%);
        z-index: 2;
        .text-title {
            font-size: 80px;
            color: #3A3A3A;
            letter-spacing: 0.02px;
            text-align: left;
            line-height: 55px;
            strong {
                font-family: 'Poppins-Black';
            }
        }
        .text-content {
            font-family: 'OpenSans-Regular';
            padding-top: 15px;
            font-size: 20px;
            color: #3A3A3A;
            letter-spacing: -0.5px;
            text-align: left;
            line-height: 25.88px;
        }

    }

}


#home-bloque-2 {
    overflow: hidden;
    min-height: 729px;
    > div {
        padding: 30px 0 60px;
        > div {
            color: #FFFFFF;
            max-width: 572px;
            &.text-title {
                font-size: 50px;
                z-index: 2;
            }
            &.text-content {
                font-family: 'OpenSans-Regular';
                font-size: 16px;
                letter-spacing: -0.1px;
                text-align: left;
                line-height: 25px;
                z-index: 2;
                p {
                    margin-top: 30px;
                }
            }
        }
    }
}

// background: #F2C478;
/*
<section id="home-bloque-3" class="fullwidth-section">

    <div id="video-container" class="container">
        <div id="video-mockup">
            <img id="video-mockup-img" src="{{data.biii_mockup_img_url}}" />
        </div>
        <div id="video-button">
            <span id="video-button-element" class="button">{{data.biii_button_text}}</span>
        </div>
    </div>

</section>
*/

#home-bloque-3 {
    background-color: #F2C478;
    #video-container {
        padding: 100px 0;
        .text-title {
            color: #FFFFFF;
            font-size: 50px;
        }
        #video-mockup {
            margin-top: 50px;
            display: block;
            text-align: center;
            #video-mockup-player {
                display: inline-block;
                -webkit-box-shadow: 11px 15px 12px -2px rgba(0,0,0,0.5);
                -moz-box-shadow: 11px 15px 12px -2px rgba(0,0,0,0.5);
                box-shadow: 11px 15px 12px -2px rgba(0,0,0,0.5);
            }
        }
        #video-button {

            #video-button-element {

            }
        }
    }
}
