@import './../../../../assets/scss/decimals',
        './../../../../assets/scss/functions';


section {

    &.fullscreen-section {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    &.fullwidth-section {
        width: 100vw;
        height: auto;
        position: relative;
    }

    .background-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: none no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

#home-bloque-1 {

    .text-float {
        position: absolute;
        width: 572px;
        top: 50%;
        left: 50%;
        @include translate(-100%, -50%);
        z-index: 2;
        .text-title {
            font-size: 80px;
            color: #3A3A3A;
            letter-spacing: 0.02px;
            text-align: left;
            line-height: 55px;
            strong {
                font-family: 'Poppins-Black';
            }
        }
        .text-content {
            font-family: 'OpenSans-Regular';
            padding-top: 15px;
            font-size: 20px;
            color: #3A3A3A;
            letter-spacing: -0.5px;
            text-align: left;
            line-height: 25.88px;
        }

    }

}


#home-bloque-2 {
    overflow: hidden;
    min-height: 729px;
    > div {
        padding: 30px 0 60px;
        > div {
            color: #FFFFFF;
            max-width: 572px;
            &.text-title {
                font-size: 50px;
                z-index: 2;
            }
            &.text-content {
                font-family: 'OpenSans-Regular';
                font-size: 16px;
                letter-spacing: -0.1px;
                text-align: left;
                line-height: 25px;
                z-index: 2;
                p {
                    margin-top: 30px;
                }
            }
        }
    }
}


#home-bloque-3 {
    background-color: #F2C478;
    #video-container {
        padding: 100px 0;
        .text-title {
            color: #FFFFFF;
            font-size: 50px;
        }
        #video-mockup {
            margin-top: 50px;
            display: block;
            text-align: center;
            #video-mockup-player {
                display: inline-block;
                -webkit-box-shadow: 11px 15px 12px -2px rgba(0,0,0,0.5);
                -moz-box-shadow: 11px 15px 12px -2px rgba(0,0,0,0.5);
                box-shadow: 11px 15px 12px -2px rgba(0,0,0,0.5);
            }
        }
        #video-button {
            margin-top: 30px;
            display: block;
            text-align: center;
            #video-button-element {

            }
        }
    }
}


/*
<section id="home-bloque-4" class="fullscreen-section">

    <div id="gallery-container">
        <div id="imagen-seleccionada"></div>
        <ul>
            <li *ngFor="let item of data.biv_galeria; let i = index">
                <a href="{{item.biv_imagen_galeria}}" [ngStyle]="{'background-image':'url(' + item.biv_imagen_galeria + ')'}"> </a>
            </li>
        </ul>
    </div>

</section>
*/

#home-bloque-4 {
    overflow: hidden;
    #gallery-container {
        width : 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        #image-seleccionada {
            width: 100%;
            height: calc(100% - 150px);
            position: absolute;
            left: 0;
            top: 0;
            background: none no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        #lista-galeria {

            position: absolute;
            left: 0;
            top: calc(100% - 150px);
            height: 150px;
            width: 100vw;
            .item-galeria {
                height: 150px;
                width: 200px;
                position: relative;
                display: inline-block;
                .imagen-galeria {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background: none no-repeat center center scroll;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }
            }
        }
    }


}
/*
background: #FBFBFB;
/* Sketch doesnt export pattern fills at this point */
/* font-family: ArialMT;
font-size: 12px;
color: #626262;
letter-spacing: 0.36px;
text-align: left;
line-height: 21.88px;
font-family: OpenSans;
font-size: 16px;
color: #2C2C2C;
letter-spacing: -0.1px;
text-align: left;
line-height: 24.88px;

<section id="home-bloque-5" class="fullwidth-section">

    <div class="container">
        <div class="columns columns-left">
            <div class="text-title" [innerHTML]="data.bv_titulo"></div>
            <div class="text-subtitle">{{data.bv_subtitulo}}</div>
            <div class="text-content" [innerHTML]="data.bv_texto"></div>
            <a class="button" href="#">{{data.bv_button_text}}</a>
        </div>
        <div class="columns columns-right">
            <img src="" />
        </div>

    </div>

</section>

*/


#home-bloque-5 {
    background: #FBFBFB;
    padding: 50px 0;
    .text-title {
        font-size: 50px;
    }
    .text-subtitle {
        font-family: 'OpenSans-Regular';
        font-size: 16px;
        color: #2C2C2C;
        letter-spacing: 0px;
        text-align: left;
        line-height: 25px;
        margin-top: 30px;
    }
    .text-content {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #626262;
        letter-spacing: 0.35px;
        text-align: left;
        line-height: 22px;
        margin-top: 30px;
    }
    .button {
        margin-top: 30px;
    }
    #imagen-bloque {
        width: 630px;
        height: 430px;
        background: none no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}
