<section id="home-bloque-1" class="fullscreen-section">
    <div class="text-float">
        <h2></h2>
        <p></p>
    </div>
    <div class="background-img"></div>
</section>

<section id="home-bloque-2" class="fullwidth-section">
    <div class="container">
        <h3></h3>
        <p></p>
    </div>
</section>

<section id="home-bloque-3" class="fullwidth-section">

    <div id="video-container" class="container">
        <div id="video-mockup"></div>
        <div id="video-button"></div>
    </div>

</section>

<section id="home-bloque-4" class="fullscreen-section">

    <div id="gallery-container">

    </div>

</section>

<section id="home-bloque-5" class="fullwidth-section">

    <div class="container">
        <h3></h3>
        <p></p>
    </div>

</section>

<section id="home-bloque-5" class="fullwidth-section">

    <div id="formulario-containe" class="container">

    </div>

</section>
